[submodule "imgui-knobs"]
	path = imgui-knobs
	url = https://github.com/altschuler/imgui-knobs.git
[submodule "implot"]
	path = implot
	url = https://github.com/epezent/implot.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
